Color Theme Swatches in Hex
/* .Creepy-doll-face,-cyberpunk-style-1-hex { color: #2F383F; }
.Creepy-doll-face,-cyberpunk-style-2-hex { color: #1D2226; }
.Creepy-doll-face,-cyberpunk-style-3-hex { color: #A8BBBF; }
.Creepy-doll-face,-cyberpunk-style-4-hex { color: #A58775; }
.Creepy-doll-face,-cyberpunk-style-5-hex { color: #A54A4A; } */

.nav-bar {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: space-around;
  background-color: #2f383f;
}

.logo {
  height: 75px;
  width: 75px;
}

.nav-links {
  margin-top: 10px;
  justify-content: space-between;
  justify-content: center;
  width: 90%;
  font-family: 'Raleway', monospace;
}

.filter {
  display: flex;
  justify-content: center;
}

.filter_tag {
  color: #a00c3b;
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.link {
  margin-left: 5px;
  margin-right: 5px;
  font-size: 15px;
}

.burger {
  display: inline-block;
  cursor: pointer;
  /* -webkit-animation:flicker-5 16s linear infinite both;animation:flicker-5 16s linear infinite both */
}

.bar1,
.bar2,
.bar3 {
  width: 35px;
  height: 5px;
  background-color: #a8bbbf;
  margin: 6px 0;
  transition: 0.4s;
  margin-right: 15px;
}

.burger_toggled .bar1 {
  -webkit-transform: rotate(-45deg) translate(-9px, 6px);
  transform: rotate(-45deg) translate(-9px, 6px);
  -webkit-animation: flicker-in-2 5s linear infinite reverse both;
  animation: flicker-in-2 5s linear infinite reverse both;
}

.burger_toggled .bar2 {
  opacity: 0;
}

.burger_toggled .bar3 {
  -webkit-transform: rotate(45deg) translate(-8px, -8px);
  transform: rotate(45deg) translate(-8px, -8px);
  -webkit-animation: flicker-in-1 0.5s linear both;
  animation: flicker-in-1 0.5s linear both;
}

.menu-popout {
  display: none;
}

.menu-popout_toggled {
  display: inline-block;
  height: 350px;
  position: fixed;
  top: 50px;
  right: 0;
  width: 100%;
  -webkit-animation: flicker-in-1 0.5s linear both;
  animation: flicker-in-1 0.5s linear both;
}
