$background-color: #2f383f;
$foreground-color: #1d2226;
$font-color: #a8bbbf;
$details-color: #a54a4a;

$mobile: 'only screen and (max-width: 740px)';
$ipad: 'only screen and (min-width: 741px)';
// $ipad: 'only screen and (min-width: 741px) and (max-width: 1024px)';

/* Color Theme Swatches in Hex */
// /* .Creepy-doll-face,-cyberpunk-style-1-hex { color: #2F383F; }
// .Creepy-doll-face,-cyberpunk-style-2-hex { color: #1D2226; }
// .Creepy-doll-face,-cyberpunk-style-3-hex { color: #A8BBBF; }
// .Creepy-doll-face,-cyberpunk-style-4-hex { color: #A58775; }
// .Creepy-doll-face,-cyberpunk-style-5-hex { color: #A54A4A; } */
